include data_sources/config.yaml
include data_sources/psg_config.txt

include data_sources/layout_simbad.yaml
include data_sources/layout_exoplanets_org.yaml
include data_sources/layout_exoplanets_nasa.yaml
include data_sources/layout_exoplanets_nasa_f.yaml

